@using Promise.Comp.Components.Layout
@layout MainLayoutNotSignedIn

@page "/dataoraccountdelete"
<h1>How to delete your Personal Data or your YouCent Account</h1>

<br>
<p>
    Below are the steps to delete your personal data or your YouCent account.
    They are the same steps for all apps starting version 2.0 for Android, iOS, Windows, MacOs and Web.
</p>
<br>
<p>
    The App name is YouCent (or YouCent - Buy Without Money) and the version is 2.0 or higher.
    Prior to version 2.0, the app has not collected any personal data.
</p>
<br>
<h2>To Delete your Personal Data</h2>
<ul>
    <li>Open the YouCent app on your device or in your browser (www.youcent.app).</li>
    <li>Navigate to the "Profile" section.</li>
    <li>Scroll down and find the "Update Personal Data" option.</li>
    <li>Click on the option and follow the prompts to delete your data (or substitute it with empty fields) and save
        changes.</li>
    <li>Your personal data will be deleted permanently imidietly.</li>
</ul>
<br>
<h2>To Delete your YouCent Account</h2>
<ul>
    <li>Open the YouCent app on your device or in your browser (www.youcent.app).</li>
    <li>Navigate to the "Profile" section.</li>
    <li>Scroll down and find the "Delete Account" option.</li>
    <li>Click on the option and follow the prompts to delete your account.</li>
    <li>Your account will be deleted permanently imidietly (including your personal data).</li>
</ul>
<br>
<h2>Types of data to be deleted:</h2>
<ul>
    <li>Your Email Address*</li>
    <li>Your Username**</li>
    <li>Your Password***</li>
    <li>Your Secret Word</li>
    <li>Your Telephone Number</li>
</ul>
<h3>All data which is to be deleted is deleted imidietly.</h3>
<p>
    * If you were subsribed to our newsletter, then your email address is not deleted from that list but you can
    unsubscribe from the newsletter by clicking the link at the bottom of the newsletter.
    If you don't have any newslletter saved and do not want to wait until next one then to unsubscribe from the
    newsletter, you need to send an email to the following address: <a
        href="mailto:mailto:support@youcent.app">support@youcent.app</a>
</p>
<p>
    ** Not deleted but updated if user had any transactions. Username is modified by adding (deleted) to the begining or
    the end of the username.
    If you want to remove the username completely, then you need to send an email to the following address:
    <a href="mailto:support@youcent.app">support@youcent.app</a>
</p>
<p>
    *** Not deleted if user had any transactions. Technically is not a part of personal data and as it is hashed, it is
    not possible to recover the password.
</p>
<h4>Attention! If for some reason you can't sign in to the app and the deletion yourself please contact us!</h4>
<p>
    We can help both with the deletion of personal data and the deletion of the account or just restore the access to
    the app.
    Send us a short request to <a href="mailto:support@youcent.app">support@youcent.app</a>. Thanks!
</p>
