@page "/"
@inject AppState appState

<h1>Welcome to YouCent App 2.0</h1>


@if (isSignedIn)
{
    <p>Welcome, @username</p>
}


@* <div>
<img src="_content/Promise.Comp/images/ark.jpg" width="100" alt="Ark Image" />
</div>

<br>

TEST
<br> *@


@code {
    private bool isSignedIn = false;
    private string username = "User TEST100!";

    protected override void OnInitialized()
    {
        isSignedIn = appState.IsSignedIn;
        StateHasChanged();
    }

}
