@page "/signout"
@inject ISessionStorage sessionStorage
@inject NavigationManager navigationManager

<h1>Signing Out...</h1>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await sessionStorage.RemoveAsync("Username");
        await sessionStorage.RemoveAsync("Token");
        await sessionStorage.RemoveAsync("UserId");
        AppState.IsSignedIn = false;
        AppState.Username = "";
        AppState.UserId = 0;
        AppState.Token = "";
        navigationManager.NavigateTo("/", forceLoad: true);
    }

}
