@page "/signout"
@inject ISessionStorage sessionStorage
@inject NavigationManager navigationManager
@inject AppState appState

<h1>Signing Out...</h1>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await sessionStorage.RemoveAsync("Username");
        await sessionStorage.RemoveAsync("Token");
        await sessionStorage.RemoveAsync("UserId");
        appState.Clean();
        navigationManager.NavigateTo("/", forceLoad: true);
    }

}
