@using Promise.Comp.Components.Layout
@layout MainLayoutNotSignedIn

@page "/userdatapolicy"

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>YouCent hopes you enjoy our user-friendly Privacy Policy!</h2>
            <p>None of our websites, web apps, Android apps, iOS apps, Windows apps or any other apps or software we
                create, use your personal data (when we have it stored) to show you targeted ads, control your behavior,
                or manipulate you any other way.</p>
            <p>Personal data (if you ever provide it) never shared with any third parties and stored securely. It will
                be deleted at any moment upon the user's request. It can be used for account access restorations and
                sending out notifications or any content user subscribed to.</p>
            <p>Normally we never ask for or insist on providing any personal data.</p>
        </div>
    </div>
</div>