@inherits LayoutComponentBase
@inject ISessionStorage sessionStorage
@inject AppState appState
@inject NavigationManager navigationManager
@inject IMyEnvironment myEnvironment

<div class="page">
    <div class="sidebar">

        <NavMenu IsSignedIn="@isSignedIn" />

    </div>

    <main>
        <div class="top-row px-4">
            @if (isSignedIn)
            {
                <NavLink class="nav-link" href="/signout">Sign Out</NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="/signin">Sign In</NavLink>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private bool isSignedIn;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (myEnvironment.IsNative())
            {
                if (myEnvironment.IsCutOff())
                {
                    appState.IsCutOff = true;
                    navigationManager.NavigateTo("/cutoff");
                    return;
                }
                else
                {
                    appState.IsCutOff = false;
                }
            }
        }
        if (appState.IsCutOff)
        {
            return;
        }
        if (!isSignedIn && !appState.IsSignedInChecked && !appState.IsSignedInChecking)
        {
            appState.IsSignedInChecking = true;
            navigationManager.NavigateTo("/signin");
            return;
        }
        if (appState.IsSignedInChecked && appState.IsSignedInChecking)
        {
            appState.IsSignedInChecking = false;
            isSignedIn = appState.IsSignedIn;
            StateHasChanged();
        }
    }



}