@inherits LayoutComponentBase
@inject ISessionStorage sessionStorage
@inject AppState appState

<div class="page">
    <div class="sidebar">

        <NavMenu IsSignedIn="@IsSignedIn" />

    </div>

    <main>
        <div class="top-row px-4">
            @if (IsSignedIn)
            {
                <NavLink class="nav-link" href="/signout">Sign Out</NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="/signin">Sign In</NavLink>
            }
        </div>
        <CascadingValue Name="IsSignedIn" Value="IsSignedIn">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code {
    public bool IsSignedIn { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var username = await sessionStorage.GetAsync<string>("Username");
        var token = await sessionStorage.GetAsync<string>("Token");
        var userId = await sessionStorage.GetAsync<string>("UserId");
        if (!IsSignedIn)
        {
            if (!string.IsNullOrEmpty(username) && !string.IsNullOrEmpty(token) && !string.IsNullOrEmpty(userId))
            {
                IsSignedIn = true;
                appState.IsSignedIn = true;
                appState.Username = username;
                appState.Token = token;
                appState.UserId = Convert.ToInt64(userId);
                StateHasChanged();
            }
        }
        else
        {
            if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(token) || string.IsNullOrEmpty(userId))
            {
                IsSignedIn = false;
                appState.Clean();
                StateHasChanged();
            }
        }
    }



}