@inherits LayoutComponentBase
@inject ISessionStorage sessionStorage

<div class="page">
    <div class="sidebar">

        <NavMenu IsSignedIn="@isSignedIn" />

    </div>

    <main>
        <div class="top-row px-4">
            @if (isSignedIn)
            {
                <NavLink class="nav-link" href="/signout">Sign Out</NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="/signin">Sign In</NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isSignedIn = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var username = await sessionStorage.GetAsync<string>("Username");
        var token = await sessionStorage.GetAsync<string>("Token");
        var userId = await sessionStorage.GetAsync<string>("UserId");
        if (!string.IsNullOrEmpty(username) && !string.IsNullOrEmpty(token) && !string.IsNullOrEmpty(userId))
        {
            isSignedIn = true;
            StateHasChanged();
        }
    }
}