@inherits LayoutComponentBase
@inject ISessionStorage sessionStorage

<div class="page">
    <div class="sidebar">

        <NavMenu IsSignedIn="@IsSignedIn" />

    </div>

    <main>
        <div class="top-row px-4">
            @if (IsSignedIn)
            {
                <NavLink class="nav-link" href="/signout">Sign Out</NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="/signin">Sign In</NavLink>
            }
        </div>
        <CascadingValue Name="IsSignedIn" Value="IsSignedIn">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code {
    public bool IsSignedIn {get; set;} =  false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var username = await sessionStorage.GetAsync<string>("Username");
        var token = await sessionStorage.GetAsync<string>("Token");
        var userId = await sessionStorage.GetAsync<string>("UserId");
        if (!string.IsNullOrEmpty(username) && !string.IsNullOrEmpty(token) && !string.IsNullOrEmpty(userId))
        {
            IsSignedIn = true;
            AppState.IsSignedIn = true;
            AppState.Username = username;
            AppState.Token = token;
            AppState.UserId = Convert.ToInt64(userId);
            StateHasChanged();
        }
    }
}